:root {
    --dark-color: black;
    --light-color: white;
    --gray-color: lightgray;
}

.definition-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.output-box {
    display: flex;
    flex-direction: column;
}

.definition {
    border: 1px solid var(--dark-color);
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--gray-color);
    color: var(--dark-color);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.definition {
    animation: fadeIn 0.9s ease-in;
}

body {
    background-color: slategray;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    color: white;
}

.heading {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:auto;
}

.lead {
    text-align: center;
}